<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay Grid | Faculty - add</title>
    <%- include('../../components/externalImports') %>
</head>
<body>
    <div class="max-w-screen-xl mx-auto px-4 md:px-1">
        <div class="mt-10 flex items-center relative">
            <a href="/user/faculty" class="absolute left-0">
                <svg class="w-10 h-10 text-gray-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
                </svg>
            </a>
            <h1 class="pl-16 inline text-xl font-bold text-gray-700">Add faculty</h1>              
        </div>
    </div>
</body>
</html>