<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay Grid | Users - add</title>
    <%- include('../../components/externalImports') %>
</head>
<body>
    <div class="max-w-screen-xl mx-auto">
        <div class="mt-10">
            <svg class="w-12 h-12" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
            </svg>              
        </div>
    </div>
    <%- include('../../components/bottomIncludes.ejs') %>
</body>
</html>